@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;800;900&family=Nunito:wght@300&family=Poppins:wght@300;400&family=Roboto&family=Tilt+Neon&family=Young+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;800;900&family=Nunito:wght@300&family=Poppins:wght@300;400&family=Roboto&family=Tilt+Neon&family=Young+Serif&display=swapp");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;800;900&family=Nunito:wght@300&family=Open+Sans:wght@700&family=Poppins:wght@300;400&family=Roboto&family=Tilt+Neon&family=Young+Serif&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities{
  .boxshadow{
    box-shadow: 0 0 1px #50b14b,
    0 0 20px #4aa545;
  }
}



.glow-green{
  @apply bg-primary-green hover:boxshadow;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

.wrapper {
  @apply max-w-[1368px] lg:px-28 px-8 mx-auto;
}

.head_text {
  @apply  text-5xl   font-bold  leading-[146%] text-center ;
}

.para_text {
  @apply text-gray-600 font-medium  ;
}



.link {
  @apply text-light-gray  hover:border-b-2 hover:border-primary-green transition-all duration-300 ease-in cursor-pointer;
}

.btn_base {
  @apply capitalize  items-center justify-center  font-semibold  rounded-md;
}

.primary_btn {
  @apply rounded-[4px] text-white uppercase tracking-widest font-bold border-2 border-transparent hover:text-primary-black hover:bg-white;
}
